# dev dependencies
vendor/
!includes/vendor/*
dev/
tmp/
composer.lock
node_modules/*

# bower dependencies
assets/bootstrap/
assets/font-awesome/
assets/html5shiv/
assets/ie10-viewport-bug-workaround/
assets/jquery/
assets/respond/
